In [9]:
import sqlite3

## 批量插入数据
- executemany(sql, records)
- 参数：sql，records:（列表，元组，字典）

In [10]:
conn = sqlite3.connect('./db/example.db')
conn.row_factory = sqlite3.Row

In [11]:
cursor = conn.cursor()

In [12]:
# 定义数据 (id, name, age, address)
data = [
    (23, '张三', '男', '北京'),
    (24, '李四', '男', '上海'),
    (25, '王五', '男', '广州'),
]

In [13]:
# 执行插入操作
sql = "insert into star (id, name, age, address) values (?, ?, ?, ?)"
cursor.executemany(sql, data)

In [14]:
# 查询数据
sql = "select * from star"
cursor.execute(sql)
for row in cursor.fetchall():
    for item in row:
        print(item, end='\t')

2	李四	20	上海	3	王五	22	广州	23	张三	男	北京	24	李四	男	上海	25	王五	男	广州	23	张三	男	北京	24	李四	男	上海	25	王五	男	广州

In [15]:
# 提交事务
conn.commit()

In [17]:
# 关闭连接
conn.close()