## 打开并链接数据库

In [34]:
import sqlite3
conn = sqlite3.connect('./db/example.db')
print("数据库打开成功！")

数据库打开成功！

## 获取游标
- cursor.execute("SQL语句") 执行SQL语句
- cursor.executemany("SQL语句", [(参数1, 参数2, ...), (参数1, 参数2, ...), ...]) 执行SQL语句，参数为列表
- cursor.executescript("SQL语句") 执行多条SQL语句
- cursor.fetchone() 获取一条数据
- cursor.fetchall() 获取所有数据
- cursor.fetchmany(size) 获取指定数量的数据
- conn.commit() 提交事务
- conn.rollback() 回滚事务
- conn.close() 关闭游标

In [35]:
cursor = conn.cursor()
print(cursor)

<sqlite3.Cursor object at 0x000001962DC2E6C0>

## 创建表 create table "table_name"

In [36]:
sql = "create table if not exists star (id integer, name text, age integer, address text)"
cursor.execute(sql)

## 数据表的操作方法以及语句
- 插入数据 insert into "table_name" values ("value1", "value2", ...
- 查询数据 select * from "table_name"
- 检索数据 retrieve "column_name" from "table_name" where "column_name" = "value"
- 更新数据 update "table_name" set "column_name" = "value" where "column_name" = "value"
- 删除数据 delete from "table_name" where "column_name" = "value"

## 插入数据 insert into "table_name" values ("value1", "value2", ...

In [37]:
rows = [
    (1, '张三', 18, '北京'),
    (2, '李四', 20, '上海'),
    (3, '王五', 22, '广州')
]
for item in rows:
    sql = "insert into star (id, name, age, address) values (?, ?, ?, ?)"
    cursor.execute(sql, item)

# 提交插入信息
conn.commit()

## 查询数据 select * from "table_name"

In [38]:
sql = "select * from star"
cursor.execute(sql)
for item in cursor.fetchall():
    print(item)

(1, '张三', 18, '北京')
(2, '李四', 20, '上海')
(3, '王五', 22, '广州')

## 更新数据 update "table_name" set "column_name" = "value" where "column_name" = "value"

In [39]:
sql = "update star set age=? where id=?"
cursor.execute(sql, (99, 1))
# 提交更新信息
conn.commit()

# 显示数据
sql = "select * from star"
cursor.execute(sql)
for item in cursor.fetchall():
    print(item)

(1, '张三', 99, '北京')
(2, '李四', 20, '上海')
(3, '王五', 22, '广州')

## 删除数据 delete from "table_name" where "column_name" = "value"

In [42]:
sql = "delete from star where id=?"
cursor.execute(sql, (1,))
# 提交删除信息
conn.commit()

# 显示数据 
sql = "select * from star"
cursor.execute(sql)
for item in cursor.fetchall():
    print(item)

ProgrammingError: Cannot operate on a closed database.

In [41]:
# 关闭数据库连接
conn.close()